[core]
	editor = emacs
	excludesfile = /Users/kraussry/.gitexcludes
[user]
	name = Ryan Krauss
	email = ryanwkrauss@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
	st = status
	co = checkout
	ci = commit
	di = diff

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
